main {
    min-height: 100vh;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 1rem;
}

h1.slide-title {
    margin: 1rem 0;
    font-size: clamp(1.44rem, 0.8539rem + 2.9304vw, 2.5rem);
    text-align: left;
}

.avatar-presentation {
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
}

.avatar {
    img {
        max-width: 400px;
        width: 100%;
        margin: 1rem;
    }
}

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
}

.desc-container {
    max-width: 1000px;
    gap: 2rem;
    margin-bottom: 2rem;
    flex-direction: column-reverse;
}

.image-description {
    img {
        width: 100%;
        max-width: 750px;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
}

.desc-info {
    padding: 1rem;
}

li {
    margin: 1rem 0;
    font-size: clamp(0.8333rem, 0.5667rem + 1.3333vw, 1.15rem);
    list-style-type: none;
}

.text-center {
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .desc-container {
        flex-direction: row;

        .image-description {
            img {
                width: 400px;
                height: 400px;
            }
        }
    }

    .reverse {
        flex-direction: row-reverse;
        text-align: right;

        h1 {
            text-align: right;    
        }

        img {
            width: 450px;
        };
    }
}

@media screen and (min-width: 720px) {
    main {
        padding: 0 100px;
    }

    .presentation {
        gap: 0;
    }

    .avatar-presentation {
        display: flex;
        flex-direction: row-reverse;
    }

    .avatar img{
        width: calc(150px + 15vw);
    }
}
